@import '../constants/colors.css';
.ripple {
  cursor: pointer;
  transition: background 1s;
}
.ripple:hover {
  background: var(--scrim-dark-1);
}
.ripple:active {
  background: var(--scrim-dark-4);
  transition: background 0.5s;
}
.ripple.selected {
  background: var(--scrim-dark-2);
}
.ripple.selected:hover {
  background: var(--scrim-dark-3);
}
.ripple.selected:active {
  background: var(--scrim-dark-4);
}
.card {
  box-shadow: 0 2px 6px 0px var(--shadow-dark); 
  border-radius: 2px;
}
.app-bar {
  width: 100%;
  padding: var(--layout-padding-lg) var(--layout-padding-xl)
}

.app-bar.shadow {
  z-index: 1000;
  box-shadow: 0px 0px 6px 5px var(--shadow-dark);
}